* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --discord-title: #add8e6;
    --discord-logo: #daa520;
    --discord-jumbotron: #00008b;
    --discord-jb: #ee82ee;
    --discord-inv-left: #1e90ff;
    --discord-inv-right: #ffc0cb;
}

header{
    background-color: var(--discord-title);
}

.container{
    width: 80%;
    margin: auto;
}

.d-flex{
    display: flex;
    align-items: center;
    min-height: 50px;
}

.item{
    background-color: var(--discord-logo);
    line-height: 30px;
    width: 15%;
    border: 1px solid black;
    text-align: center;
}

.item-central{
   flex-grow: 1;
}

.jumbo-sec{
    background-color: var(--discord-jumbotron);
}

.jumbotron{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}

.jb{
    background-color: var(--discord-jb);
    width: 700px;
    height: 350px;


}


.invi-sec{
    background-color: white;
}

.invite-only{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 550px;

}

.inv-left{
    background-color: var(--discord-inv-left);
    width: 650px;
    height: 400px;
}

.inv-right{
    background-color: var(--discord-inv-right);
    width: 250px;
    height: 400px;
}


